body{
    background-position: center;
    background-size: 25%;
    /* background-position: top left; */
    background-blend-mode: darken;
}
/* Mobile view  */
@media (max-width: 768px) {
    body{
        background-size: 100px 100px;
    }
}
body.light{
    background-color: #FFFFFF;
    background-image: url(../images/light/bgmosaic.png);
    background-repeat: repeat;
}

body.dark{
    background-color: #662E2E;
    background-image: url(../images/dark/bgmosaic.png);

}

body .topbar{
    display: flex;
    justify-content: center;
}

body.light .topbar{
    background-color: #FFFFFF;

}

body.dark .topbar{
    background-color: #662E2E;
}

body .toggle{
    display: flex;

}